In [10]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import pandas as pd

In [11]:
data = pdr.get_data_yahoo('TSLA', start = "2020-01-01", end = "2020-12-31")

[*********************100%***********************]  1 of 1 completed

In [13]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  84.900002  86.139999  84.342003  86.052002  86.052002   47660500
2020-01-03  88.099998  90.800003  87.384003  88.601997  88.601997   88892500
2020-01-06  88.094002  90.311996  88.000000  90.307999  90.307999   50665000
2020-01-07  92.279999  94.325996  90.671997  93.811996  93.811996   89410500
2020-01-08  94.739998  99.697998  93.646004  98.428001  98.428001  155721500